<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Crear Cuenta</title>
  <link rel="stylesheet" href="/Css/crear_cuenta.css">
</head>
<body>
<div class="background-circles"></div>
<div class="background-circles"></div>
<div class="register-container">
  <h2>Crear Cuenta</h2>
  <form action="#" th:action="@{/registro}" th:object="${usuario}" method="POST">
    <input type="text" placeholder="Nombre Completo" th:field="*{username}" required>
    <input type="email" placeholder="Email" th:field="*{email}" required>
    <input type="password" placeholder="Contraseña" th:field="*{password}" required>
    <input type="password" placeholder="Confirma tu Contraseña" required>
    <button type="submit">Crear Cuenta</button>
  </form>
  <p>¿Ya tienes una cuenta? <a href="/login">Iniciar sesión</a></p>
</div>
</body>
</html>