<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Control de Asistencia</title>
    <link rel="stylesheet" href="/Css/fecha_hora.css">
</head>
<body>
<div class="container">
    <header>
        <h1>Control de Asistencia</h1>
    </header>
    <main>
        <h2>FECHA Y HORA DE ENTRADA/SALIDA</h2>
        <form action="/trabajo" method="get">
            <label for="fecha">Fecha</label>
            <input type="date" id="fecha" placeholder="Fecha">
            <label for="hora">Hora</label>
            <input type="time" id="hora" placeholder="Hora">
            <button type="submit">REGISTRAR</button>
        </form>
    </main>
    <footer>
        <p>© 2024 Empresa de Aceites | Cartagena de Indias</p>
    </footer>
</div>
</body>
</html>
