<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pantalla de Inicio de Sesión</title>
    <link rel="stylesheet" href="/Css/login.css">
</head>
<body>

<div class="background-circles"></div>
<div class="background-circles"></div>
<div class="login-container">
    <h2>Bienvenido</h2>
    <form action="/login" method="post">
        <input type="text" name="userOrEmail" placeholder="Email " required>
        <input type="password" name="password" placeholder="password" required>
        <a href="/contrasenia" class="forgot-password">Has olvidado tu contraseña</a>
        <button type="submit">Iniciar sesión</button>
    </form>
    <p>No tienes una cuenta? <a href="/registro">Crear cuenta</a></p>
</div>
</body>
</html>